<RunSettings>
    <MSTestV2>
        <TestTimeout>1200000</TestTimeout>
        <Parallelize>
            <Workers>1</Workers>
            <Scope>MethodLevel</Scope>
        </Parallelize>
    </MSTestV2>
    <TestRunParameters>
        <Parameter name="UnifiedSpeechSubscriptionKey" value=""/>
        <Parameter name="Region" value="westus"/>
        <Parameter name="DeploymentId" value=""/>
        <Parameter name="InputDir" value="..\..\..\tests\input\"/>
        <Parameter name="LanguageUnderstandingSubscriptionKey" value=""/>
        <Parameter name="LanguageUnderstandingServiceRegion" value="westus"/>
        <Parameter name="LanguageUnderstandingHomeAutomationAppId" value=""/>
        <Parameter name="BotConnectionId" value=""/>
        <Parameter name="BotSubscriptionKey" value=""/>
        <Parameter name="BotRegion" value="westus2"/>
        <Parameter name="ConversationTranscriptionEndpoint" value=""/>
        <Parameter name="ConversationTranscriptionKey" value=""/>
    </TestRunParameters>
</RunSettings>
