.gitattributes text
.gitignore text

.classpath text
.project text
Makefile text
gradlew text
proguard-rules.pro text

*.appxmanifest text
*.bat text
*.config text
*.cpp text
*.cs text
*.csproj text
*.gradle text
*.h text
*.java text
*.json text
*.m text
*.md text
*.pl text
*.plist text
*.prefs text
*.properties text
*.sln text
*.storyboard text
*.vcxproj text
*.vcxproj.filters text
*.xaml text
*.xml text
*.yml text

# Bash only likes Unix line endings
*.sh text eol=lf

# Binary extensions:
*.jar binary
*.pfx binary
*.png binary
*.wav binary
