# Prerequisites
*.d

# Temp Files
*.temp
*.tmp

# User-specific files
*.suo
*.user

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio + build folders
*.vs
*.vscode
build*/**/*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.userosscache

# Visual Studio profiler
*.psess
*.vsp
*.vspx

#xcode user settings
xcuserdata
project.xcworkspace
.DS_Store

#docfx related files
ci/docfx/obj*/**/*
ci/android/aar
ci/android/aar-debug
bindings/csharp/obj*/**/*

# Doxygen
ci/doxygen/*html
ci/doxygen/*xml

# external serialport and macro_util_h_generator obj directorys
external/azure-c-shared-utility/testtools/SerialPort/SerialPort/obj/**/*
external/azure-c-shared-utility/tools/macro_utils_h_generator/obj/**/*
build**/*

external/unidec/Richland.Speech.UnidecRuntime
external/unidec/Unidec.Model

tests/end2end/csharp/TestResults

public_samples/**/x64
public_samples/**/packages
public_samples/**/bin
public_samples/**/obj
public_samples/**/objd

# generated pods directory and xcode workspace
tests/functional/objective-c/**/Pods/
tests/functional/objective-c/**/Podfile.lock
tests/functional/objective-c/**/*.xcworkspace/

# objective-c frameworks
MicrosoftCognitiveServicesSpeech.framework/

# xcode output directory
xcode-build-output/

# VoiceActivation KWS artifact
external/KWS/*/
external/uwp_ssl/*/
external/android-openssl/*/

# Ignore Open SSL 1.1.1b
/openssl-1.1.1b/
/external/android-openssl
/external/linux-openssl
/openssl-1.1.1b.tar.gz

# Ignores for the Java Maven test project
tests/functional/java/target/
tests/functional/java/.classpath
tests/functional/java/.project
tests/functional/java/.settings/
/source/extensions/remoteconversation/java/.project
/source/extensions/remoteconversation/java/.settings
/source/extensions/remoteconversation/java/.classpath
/source/extensions/remoteconversation/java/target/classes/com/microsoft/cognitiveservices/speech/remoteconversation
/source/extensions/remoteconversation/java/target/maven-archiver
/source/extensions/remoteconversation/java/target/maven-status/maven-compiler-plugin/compile/default-compile
/source/extensions/remoteconversation/java/target
tests/**/obj
tests/**/objd
tests/**/bin
/tests/functional/java/.idea
/tests/functional/java/speechsdk-tests.iml

# Ignore test symlinks
/source/bindings/python/input
/source/bindings/python/test.audio.utterances.json
/source/bindings/python/test.defaults.json
/source/bindings/python/test.subscriptions.regions.json
/tests/functional/java/input
/tests/functional/java/lib
/tests/functional/java/test.audio.utterances.json
/tests/functional/java/test.defaults.json
/tests/functional/java/test.subscriptions.regions.json

# Python virtual environment
env/

# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# JetBrains
.idea/
/source/extensions/remoteconversation/java/.idea
/source/extensions/remoteconversation/csharp/remoteconversation/remoteconversation/bin/Release
/source/extensions/remoteconversation/csharp/remoteconversation/remoteconversation/obj
/source/extensions/remoteconversation/csharp/remoteconversation/RemoteConversationTest/bin/Release/netcoreapp3.1
/source/extensions/remoteconversation/csharp/remoteconversation/RemoteConversationTest/obj
/source/extensions/remoteconversation/csharp/remoteconversation/RemoteConversationTestConsole/bin
/source/extensions/remoteconversation/csharp/remoteconversation/RemoteConversationTestConsole/obj
/source/extensions/remoteconversation/csharp/remoteconversation/remoteconversation/bin/Debug/netcoreapp3.1
/source/extensions/remoteconversation/csharp/remoteconversation/RemoteConversationTest/bin/Debug/netcoreapp3.1
/source/extensions/remoteconversation/csharp/remoteconversation/remoteconversation/bin/Debug/netstandard2.0
