[submodule "external/libwebsockets"]
	path = external/libwebsockets
	url = https://github.com/warmcat/libwebsockets
[submodule "external/parson"]
	path = external/parson
	url = https://github.com/kgabis/parson
