.gitattributes text
.gitignore text
.gitmodules text

*.c text
*.cmd text
*.config text
*.cpp text
*.cs text
*.csproj text
*.h text
*.hpp text
*.i text
*.in text
*.java text
*.js text
*.json text
*.md text
*.nuspec text
*.patch text
*.props text
*.py text
*.sln text
*.targets text
*.txt text
*.vcxproj text
*.vcxproj.filters text
*.vcxproj.user text

# Bash only like Unix line endings
*.sh text eol=lf
# TODO wrong:
*.bat binary

# Binary extensions:
*.exe binary
*.lib binary
*.zip binary
*.png binary

# externals are ignored
external/curl/**/* binary
external/openssl/**/* binary
