.gitattributes text
.gitignore text
.gitmodules text

Makefile text
Dockerfile text
.dockerignore text

*.bat text
*.c text
*.cmd text
*.config text
*.cpp text
*.cs text
*.csproj text
*.h text
*.hpp text
*.i text
*.in text
*.java text
*.js text
*.json text
*.md text
*.nuspec text
*.props text
*.pl text
*.ps1 text
*.py text
*.sln text
*.targets text
*.txt text
*.vcxproj text
*.vcxproj.filters text
*.vcxproj.user text
*.xaml text
*.yml text
*.runsettings text
*.template text
*.xml text

# Bash and "git apply" only like Unix line endings
*.sh text eol=lf
*.patch text eol=lf

# Binary extensions:
*.exe binary
*.lib binary
*.zip binary
*.png binary
*.wav binary
*.jar binary
*.snk binary
*.a binary

# externals are ignored
external/curl/**/* binary
external/openssl/**/* binary
