.classpath text
.dockerignore text
.editorconfig text
.gitattributes text
.gitignore text
.gitmodules text
.npmignore text
.project text
Dockerfile text
gradlew text
LICENSE text
Makefile text
Podfile text
proguard-rules.pro text
setup.cfg text

*.appxmanifest text
*.asset text
*.axml text
*.bat text
*.bats text
*.c text
*.cmake text
*.cmd text
*.conf text
*.config text
*.cpp text
*.cs text
*.csproj text
*.entitlements text
*.expect text
*.gradle text
*.h text
*.hpp text
*.html text
*.i text
*.in text
*.java text
*.js text
*.json text
*.lock text
*.m text
*.md text
*.meta text
*.mk text
*.mm text
*.nuspec text
*.pbxproj text
*.php text
*.pl text
*.plist text
*.podspec text
*.prefs text
*.project text
*.properties text
*.props text
*.ps1 text
*.py text
*.rst text
*.runsettings text
*.sln text
*.storyboard text
*.swg text
*.swift text
*.targets text
*.template text
*.ts text
*.tsx text
*.txt text
*.unity text
*.vcxproj text
*.vcxproj.filters text
*.vcxproj.user text
*.xaml text
*.xaml.cs text
*.xcscheme text
*.xcscmblueprint text
*.xcworkspacedata text
*.xib text
*.xml text
*.yml text

# Bash and "git apply" only like Unix line endings
*.sh text eol=lf
*.bats text eol=lf
*.patch text eol=lf

# Binary extensions:
*.a binary
*.exe binary
*.jar binary
*.lib binary
*.mp3 binary
*.pfx binary
*.png binary
*.snk binary
*.wav binary
*.zip binary
*.pdf binary
