# Prerequisites
*.d

# Temp Files
*.temp
*.tmp

# User-specific files
*.suo
*.user

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio + build folders
*.vs
*.vscode
build*/**/*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.userosscache

# Visual Studio profiler
*.psess
*.vsp
*.vspx

#docfx related files
ci/docfx/obj*/**/*
bindings/csharp/obj*/**/*

# Doxygen
ci/doxygen/*html
ci/doxygen/*xml

# external serialport and macro_util_h_generator obj directorys
external/azure-c-shared-utility/testtools/SerialPort/SerialPort/obj/**/*
external/azure-c-shared-utility/tools/macro_utils_h_generator/obj/**/*
build**/*
/packages/Richland.Speech.UnidecRuntime.18.1.5.24286743/build
/packages/Richland.Speech.UnidecRuntime.18.1.5.24286743
/external/unidec/bin

samples/CxxHelloWorld/packages
samples/CxxHelloWorld/x64
samples/CxxHelloWorld/CxxHelloWorld/x64
samples/CxxHelloWorld/Debug
samples/CxxHelloWorld/CxxHelloWorld/Debug
samples/CxxHelloWorld/Release
samples/CxxHelloWorld/CxxHelloWorld/Release

samples/CsharpHelloWorld/CsharpHelloWorld/bin/
samples/CsharpHelloWorld/CsharpHelloWorld/obj/
samples/CsharpHelloWorld/packages/
tests/end2end/csharp/TestResults
