# Prerequisites
*.d

# User-specific files
*.suo
*.user

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio + build folders
*.vs
*.vscode
build/**/*

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.userosscache

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# external serialport and macro_util_h_generator obj directorys
external/azure-c-shared-utility/testtools/SerialPort/SerialPort/obj/**/*
external/azure-c-shared-utility/tools/macro_utils_h_generator/obj/**/*
