[submodule "external/parson"]
    path = external/parson
    url = https://github.com/kgabis/parson
[submodule "external/azure-c-shared-utility"]
    path = external/azure-c-shared-utility
    url = https://github.com/raaaar/azure-c-shared-utility
[submodule "tests/input"]
    path = tests/input
    url = https://msasg.visualstudio.com/Skyman/_git/CarbonTest
