<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Richland.Speech.UnidecRuntime" version="19.4.2.491948100" targetFramework="net461" />
  <package id="Richland.Speech.UnidecRuntime.linux" version="2019.04.02.220248" targetFramework="net461" />
  <package id="Richland.Speech.UnidecRuntime.android" version="4.2.2019" targetFramework="net461" />
  <package id="Unidec.Model" version="1.0.0" targetFramework="net461" />
</packages>