<?xml version="1.0" encoding="utf-8"?>

<RunSettings>
    <MSTestV2>
        <TestTimeout>1200000</TestTimeout>
        <Parallelize>
            <Workers>1</Workers>
            <Scope>MethodLevel</Scope>
        </Parallelize>
    </MSTestV2>
    <Catch2Adapter>
        <DiscoverCommandLine>--discovery --verbosity high --list-tests *</DiscoverCommandLine>
        <DiscoverTimeout>5000</DiscoverTimeout>
        <WorkingDirectory>..\..\tests\functional\cxx\api</WorkingDirectory>
        <WorkingDirectoryRoot>Executable</WorkingDirectoryRoot>
        <FilenameFilter>_tests</FilenameFilter>
        <DiscoverTimet>0</DiscoverTimet>
    </Catch2Adapter>
</RunSettings>
