<?xml version="1.0" encoding="utf-8"?>

<RunSettings>
    <Catch2Adapter>
        <DiscoverCommandLine>--discovery --verbosity high --list-tests *</DiscoverCommandLine>
        <WorkingDirectory>..\..\tests\functional\cxx\api</WorkingDirectory>
        <WorkingDirectoryRoot>Executable</WorkingDirectoryRoot>
        <FilenameFilter>_tests</FilenameFilter>
        <DiscoverTimet>0</DiscoverTimet>
    </Catch2Adapter>
</RunSettings>
