[*]
charset = utf-8

[*.cs]
file_header_template = \nCopyright (c) Microsoft. All rights reserved.\nLicensed under the MIT license. See LICENSE.md file in the project root for full license information.\n